.singleRepoPage .userInfo .content{
    width: 100%;
    display: flex;
    margin-left: 0;
}
.userInfo .count{
    display: flex;
}
.imgAndName{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.imgAndName .imgbox{
    width: 10%;
}
@media(max-width:768px){
    .imgAndName .imgbox{
        width: 15%;
    }
}
@media(max-width:576px){
    .imgAndName{
        width: 100%;
    }
    .imgAndName .imgbox{
        width: 20%;
    }
}

@media(max-width:425px){
    .repo_content{
        margin-top: 20px;
    }
}
.repoLink a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.repoLink a:hover{
    color: #c7c7c7;
}
.repoLink a:hover .linkText{
    background-color: #c7c7c7;
    color: #fefefe;

}
.repoName{
    margin-right: 10px;
}
.linkText{
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 3px;
    padding: 3px 4px;
    line-height: 12px;
    transition: all 0.3s;
}